.block {
    max-width:1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-gap: 2vw;
    .singleProduct {
        width:200px;
        height: 300px;
        background: #414C5C;
    }
}

